#output{
	margin: auto;
	max-width: 800px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
*{
	margin: 0;
	padding: 0;
}
.order_container{
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	width: fit-content;
	margin: 10px 0;

}
.order_content{
}
.order_text{
	margin: 0 4px;
}
.order_input{
	margin: 0 4px;
}
.delete_button{
	float: right;
}
.form_id{
	float: left;
}